<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Our Members</title>
        <link rel="stylesheet" href="../css/members.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <script type="text/javascript" src="../scripts/members.js" defer></script>
    </head>

    <body>

        <div class="bg-image"></div>

        <header>
            <div id="bar">
                <div class="logo">
                    <h2 class="name text hero glitch layers" data-text="Coconut Phishers"><span>Coconut Phishers</span></h2>
                </div>
                <nav>
                    <ul>
                        <li><a href="./home.html">Home</a></li>
                        <li><a href="./members.html" class="nav-active">Members</a></li>
                        <li><a href="./writeups.html">Blogs</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="content">
            <h1>Our Team :</h1>

            <div id="members-list">
                <div class="member-card">
                    <div class="inner-card">
                        <div class="card-header">
                            <img src="https://avatars.githubusercontent.com/u/64366765?v=4">
                            <div class="card-title">
                                <div class="member-username" data-text="bitmap4"><span>bitmap4</span></div>
                                <div class="member-name">ABHYUDIT</div>
                            </div>
                        </div>
                        <div class="member-quote">Super Psycho Saiyan</div>
                    </div>
                </div>

                <div class="member-card">
                    <div class="inner-card">
                        <div class="card-header">
                            <img src="https://avatars.githubusercontent.com/u/73482653?v=4">
                            <div class="card-title">
                                <div class="member-username" data-text="delayLama"><span>delayLama</span></div>
                                <div class="member-name">EVAN</div>
                            </div>
                        </div>
                        <div class="member-quote">It's never too late to pull out.</div>
                    </div>
                </div>

                <div class="member-card">
                    <div class="inner-card">
                        <div class="card-header">
                            <img src="https://ctftime.org/media/cache/b3/f9/b3f9396570758fe26ce704cb1415da7b.jpg">
                            <div class="card-title">
                                <div class="member-username" data-text="anangappara"><span>anangappara</span></div>
                                <div class="member-name">UDITH</div>
                            </div>
                        </div>
                        <div class="member-quote">Coffee Pls.</div>
                    </div>
                </div>

                <div class="member-card">
                    <div class="inner-card">
                        <div class="card-header">
                            <img src="https://avatars.githubusercontent.com/u/74638765?v=4">
                            <div class="card-title">
                                <div class="member-username" data-text="ad1thya"><span>ad1tya2</span></div>
                                <div class="member-name">ADITYA</div>
                            </div>
                        </div>
                        <div class="member-quote">Apply kirchoff's law</div>
                    </div>
                </div>

                <div class="member-card">
                    <div class="inner-card">
                        <div class="card-header">
                            <img src="https://avatars.githubusercontent.com/u/58686913?v=4">
                            <div class="card-title">
                                <div class="member-username" data-text="afoolishman"><span>afoolishman</span></div>
                                <div class="member-name">KISHOR</div>
                            </div>
                        </div>
                        <div class="member-quote">Certified Idiot</div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
