<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Our Writeups</title>
        <link rel="stylesheet" href="../css/writeups.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <script
            type="text/javascript"
            src="../scripts/writeups.js"
            defer
        ></script>
    </head>

    <body>
        <div class="bg-image"></div>

        <header>
            <div id="bar">
                <div class="logo">
                    <h2
                        class="name text hero glitch layers"
                        data-text="Coconut Phishers"
                    >
                        <span>Coconut Phishers</span>
                    </h2>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="./home.html">Home</a>
                        </li>
                        <li><a href="./members.html">Members</a></li>
                        <li>
                            <a href="./writeups.html" class="nav-active">Blogs</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="content">
            <h1>Our Writeups :</h1>

            <div id="members-list">
                <a
                    class="member-card"
                    href="https://coconutphishers.github.io/buzzctf_writeup23/"
                >
                    <div class="inner-card">
                        <div class="card-header">
                            <img
                                src="https://coconutphishers.in/buzzctf_writeup23/_astro/logo.76dc0e3d_Z2hOQSn.webp"
                            />
                            <div class="card-title">
                                <div
                                    class="member-username"
                                    data-text="BuzzCTF23"
                                >
                                    <span>BuzzCTF23</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </body>
</html>
